.banner {
    background-color: #4D00ff;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px;

}
#katiee {
    height: 150px;
    width: 150px;
}
#creator {
    color: #4D00ff;
    font-size: 100px;
}

.bold {
    font-weight: 900px;
}